<mat-card class="w-100">
  <mat-card-header class="justify-content-between">
    <mat-card-title>
      <h2>Détail du rendez-vous</h2>
    </mat-card-title>
    <mat-chip>{{ actualStatus }}</mat-chip>
  </mat-card-header>
</mat-card>

<div class="row">
  <mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>
        <h3>Information du client</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <p>
        <strong>Nom: </strong>{{ client?.first_name }} {{ client?.last_name }}
      </p>
      <p><strong>Email: </strong> {{ client?.email }}</p>
      <p><strong>Téléphone: </strong> {{ client?.phone }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>
        <h3>Information du véhicule</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <p>
        <strong>Marque: </strong>{{ vehicle?.marque }}
      </p>
      <p><strong>Modèle: </strong> {{ vehicle?.modele }}</p>
      <p><strong>Année: </strong> {{ vehicle?.annee }}</p>
      <p><strong>Carburant: </strong> {{ vehicle?.type_carburant }}</p>
      <p><strong>Numéro d'immatriculation: </strong> {{ vehicle?.immatriculation }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100">
    <mat-card-header class="justify-content-between align-items-center">
      <mat-card-title>
        <h3>Mécaniciens attribués</h3>
      </mat-card-title>
      <button mat-icon-button (click)="openAddMechanicDialog()" *ngIf="role === 'manager'">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <mat-table [dataSource]="mechanicDataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.first_name }} {{ element.last_name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> Téléphone</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="mechanicDisplayedColumn"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: mechanicDisplayedColumn"
        ></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>
        <h3>Services demandés</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <mat-table [dataSource]="serviceDataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Prix</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.status }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Modifier">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Supprimer">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="serviceDisplayedColumn"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: serviceDisplayedColumn"
        ></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>

<div class="w-100 justify-content-end button-container" *ngIf="appointment?.status === 'pending' && role === 'manager'">
  <button mat-flat-button (click)="cancelAppointment()">Refuser</button>
  <button mat-flat-button (click)="validateAppointment()">Valider</button>
</div>
