<mat-card class="service-card">
  <mat-card-content>
    <div class="card-container row">
      <!-- Icône au début -->
      <div class="service-icon col-1">
        <mat-icon class="user-icon">person</mat-icon>
      </div>
      <!-- Données utilisateur -->
      <div class="user-info col-4">
        <h4>{{ "Tiavina RAMIANDRISOA" }}</h4>
        <p>{{ "tiavinaramia@gmail.com" }}</p>
        <p>{{ "032 66 131 80" }}</p>
      </div>

      <div class="service-info col-4">
        <h4>{{ "TOYOTA Corolla 2025" }}</h4>
        <p>Date: 25 march, 2025</p>
        <p>Heure: 11:00</p>
      </div>

      <!-- Statut à la fin -->
      <div class="status col-2">
        <mat-chip>pending</mat-chip>
      </div>
    </div>
  </mat-card-content>
</mat-card>
