<mat-card>
  <mat-card-header class="justify-content-between align-items-center">
    <mat-card-title>Mes véhicules</mat-card-title>
    <button mat-flat-button (click)="openAddVehicleDialog()">
      Ajouter un véhicule
    </button>
  </mat-card-header>
</mat-card>

<div *ngFor="let vehicle of vehicles">
  <app-vehicle-card [vehicle]="vehicle" (update)="openEditVehicleDialog($event)"/>
</div>

<div *ngIf="!vehicles || vehicles.length === 0">
  <mat-card>
    <mat-card-content>
      Aucune voiture enregistrée
    </mat-card-content>
  </mat-card>
</div>
