<mat-card class="cardWithShadow theme-card">
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center">
      <!-- Input search -->
      <mat-form-field appearance="outline" class="no-hint-space">
        <mat-label>Rechercher</mat-label>
        <input
          matInput
          placeholder="Saisissez votre recherche"
          [(ngModel)]="searchText"
          (input)="onSearch()"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="Effacer"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <!-- Button Ajouter un mécanicien -->
      <button
        mat-flat-button
        color="primary"
        class="ml-3"
        (click)="openAddMechanicDialog()"
      >
        Ajouter un service
      </button>
    </div>
  </mat-card-content>
</mat-card>
<app-service-crud-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [totalItems]="paginator.totalItems"
  [pageSize]="paginator.pageSize"
  [pageSizeOptions]="paginator.pageSizeOptions"
  (onSortChange)="onSortChange($event)"
  (onPageChange)="onPageChange($event)"
  (edit)="openEditMechanicDialog($event)"
  (delete)="openDeleteMechanicDialog($event)"
/>
