<app-client-appointment-table
[title]="'Rendez-vous validé'"
[dataSource]="dataSource"
[displayedColumns]="displayedColumns"
[totalItems]="totalItems"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
/>
<app-client-appointment-table
[title]="'Rendez-vous en attente'"
[dataSource]="dataSource"
[displayedColumns]="displayedColumns"
[totalItems]="totalItems"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
/>
<app-client-appointment-table
[title]="'Rendez-vous effectué'"
[dataSource]="dataSource"
[displayedColumns]="displayedColumns"
[totalItems]="totalItems"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
/>
